{% extends 'blog/base.html' %}

{% block content %}
  <h2>Buscar Posteos</h2>

  <form method="GET" action="{% url 'buscar_posteo' %}">
    <input type="text" name="q" placeholder="Buscar...">
    <button type="submit">Buscar</button>
  </form>

  <hr>

{% if query %}
  {% if resultados %}
    <h3>Resultados:</h3>
    {% for posteo in resultados %}
      <div>
        <h4>{{ posteo.titulo }}</h4>
        <a href="{% url 'detalle_posteo' posteo.pk %}">Ver posteo</a>
      </div>
    {% endfor %}
  {% else %}
    <p>No se encontraron resultados para tu búsqueda.</p>
  {% endif %}
{% endif %}


{% endblock %}
