{% extends 'blog/base.html' %}

{% block content %}
  <h2>Lista de Posteos</h2>

  {% if posteos %}
    {% for posteo in posteos %}
      <div>
        <h3>{{ posteo.titulo }}</h3>
        <p><strong>Fecha:</strong> {{ posteo.fecha_creacion|date:"d/m/Y" }}</p>
        <p>{{ posteo.contenido|truncatewords:30 }}</p>
        <a href="{% url 'detalle_posteo' posteo.pk %}">Leer más</a>
      </div>
      <hr>
    {% endfor %}
  {% else %}
    <p>No hay posteos disponibles.</p>
  {% endif %}

{% endblock %}
